
/* HEADER */

.logo img {
  width: 80px; /* Adjust the width of your logo image */
  height: 80px;
}

.nav-link {
  font-size: 27px; /* Adjusted font size for better mobile display */
  margin-left: 10px;
  margin-right: 10px;
}

.nav-links-container {
  display: flex;
  justify-content: flex-end;
  gap: 35px; /* Maintain the gap between links */
}

.header {
  height: 110px;
  background-color: aliceblue;
  padding: 10px; /* Added padding for better spacing on small screens */
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.logo {
  margin-left: 22px;
  font-size: 24px; /* Adjust font size for mobile view */
}

.sidebar {
  display: none; /* Hide by default */
}

@media (max-width: 768px) {
  .nav-links-container {
      display: none; /* Hide the navigation links on smaller screens */
  }

  .sidebar {
      display: block; /* Show the sidebar (hamburger menu) on smaller screens */
      font-size: 24px; /* Adjust font size for mobile view */
      margin-right: 22px;
  }

  .header {
      padding: 0 20px; /* Add padding to the header for smaller screens */
  }
}

@media (max-width: 576px) {
  .nav-link {
      font-size: 14px; /* Further adjust font size for very small screens */
      margin-left: 20px; /* Reduce margin for very small screens */
      margin-right: 20px; /* Reduce margin for very small screens */
  }

  .logo {
      font-size: 20px; /* Further adjust font size for very small screens */
  }
}


/* Footer */

.footer {
  background-color: #003366;
  color: #fff;
  padding: 50px;
  text-align: center;
  font-family: "poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.footer h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

.footer p {
  font-size: 18px;
  margin: 0;
}

 .custom-link {
  text-decoration: none; 
  color: inherit; 
}

.custom-link:hover {
  text-decoration:none; 
  color: rgb(132, 135, 136); 
}
/* Customize Scrollbar */

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 6px;
  border: 3px solid #f1f1f1;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}


/* Ripple Effect */

.ripple {
  position: relative;
  overflow: hidden;
}

.ripple::after {
  content: '';
  position: absolute;
  width: 100%;
  padding-top: 100%;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  pointer-events: none;
  transform: translate(-50%, -50%) scale(0);
  background: rgba(0, 0, 0, 0.2);
  transition: transform 0.5s ease, opacity 1s ease;
}

.ripple:active::after {
  transform: translate(-50%, -50%) scale(1);
  opacity: 0;
}
